<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/babysite.css" rel="stylesheet">
</head>
<body>
{% load static %}
    <div class="head_box">
        <div class="head_background">
            <div class="head_title_log">
                <img id="_log_img" src="{% static "img/logo.jpg" %}">
            </div>
            <div class="head_title">
                <div class="head_title_text">
                    <span>MALI&nbsp;&nbsp;&nbsp;AND&nbsp;&nbsp;&nbsp;YUBIAO</span>
                </div>
                <div class="head_title_blur">
                </div>
            </div>
        </div>
    </div>
    <div class="body_box">

    </div>

</body>
</html>
